'scopeName': 'source.csharp'
'name': 'C#'
'fileTypes': [
    'cs'
  ]
'patterns': [
  {
    'include': '#comments'
  }
  {
    'match': '\\b(base|break|case|catch|checked|continue|default|do|else|finally|fixed|for|foreach|goto|if|in|is|lock|new|return|sizeof|stackalloc|switch|throw|try|typeof|unchecked|unsafe|using|while)\\b'
    'name': 'keyword.control.c'
  }
  {
    'match': '\\b(operator|bool|byte|char|decimal|double|float|int|long|object|sbyte|short|string|uint|ulong|ushort|void|var|class|enum|struct|delegate|event)\\b'
    'name': 'storage.type.c'
  }
  {
    'match': '\\b(override|public|private|protected|readonly|sealed|virtual|explicit|extern|implicit)\\b'
    'name': 'storage.modifier.c'
  }

  {
    'begin': '"|@"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.c'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.c'
    'name': 'string.quoted.double.c'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
    ]
  }
]
'string_escaped_char':
  'patterns': [
    {
      'match': '\\\\(\\\\|[abefnprtv\'"?]|[0-3]\\d{,2}|[4-7]\\d?|x[a-fA-F0-9]{,2}|u[a-fA-F0-9]{,4}|U[a-fA-F0-9]{,8})'
      'name': 'constant.character.escape.c'
    }
    {
      'match': '\\\\.'
      'name': 'invalid.illegal.unknown-escape.c'
    }
  ]
